# Logs (training data)
logs/

# ML model weights
bots/models/*.pt
bots/models/*.pkl

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# System files
.DS_Store

# Virtual environments
venv/
.env/
.env/*